*.so
*.o
*.d
*.swp
/chitcpd
*.orig

# Autotools
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*.log
*.pb-c.c
*.pb-c.h