*.so
*.o
*.d
*.swp
*.orig
*~
*.log
*.pcap
results.json

# CMake
build/
cmake-*/
Makefile
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
